* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "LimelightRegularr";
    src: url(../fonts/Limelight-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Abhaya Libre";
    src: url(../fonts/AbhayaLibre-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Abhaya Libre ExtraBold";
    src: url(../fonts/AbhayaLibre-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Abel";
    src: url(../fonts/Abel-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Actor";
    src: url(../fonts/Actor-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

.body {
    font-family: "LimelightRegularr", sans-serif;
}

.hidden {
    display: none;
}

/*********************************************/
/*HEADER*/
.header-container {
    max-width: 1365px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 10px 0px 10px;
    margin: auto;
}

.header-logo {
    width: 150px;
}

.header-name {
    letter-spacing: 8px;
    overflow: hidden;
    color: #213924;
    text-overflow: ellipsis;
    font-family: "LimelightRegularr";
    line-height: normal;
    font-size: 36px;
    text-transform: uppercase;

}

.header-name-link {
    text-decoration: none;
    color: black;
}

.header-name-link:hover {
    color: green;
}

.menu-list {
    display: flex;
    list-style: none;
}

.header-menu {
    padding-left: 127px;
}

.header-menu-item:nth-child(n + 2) {
    margin-left: 70px;
}

.menu-link {
    text-decoration: none;
    color: #585858;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
}

.menu-link:hover {
    text-decoration: underline;
    color: green;
}

.header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-item {
    list-style: none;
    text-decoration: none;
}

.icon-item-link {
    display: block;
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: center;
    width: 50px;
    height: 50px;
}

.icon-search {
    background-image: url(../svg/search.svg);
}

.icon-profile {
    background-image: url(../svg/profile.svg);
}

.icon-cart {
    background-image: url(../svg/cart.svg);
}

.icon-item:nth-child(n + 2) {
    margin-left: 17px;
}

.icon-item-link {
    text-decoration: underline;
}

/*MAIN PAGE*/

.main-container {
    display: flex;
    max-width: 1350px;
    margin: auto;
    margin-top: 20px;
}

.main-page {
    width: 100%;
    min-height: 655px;
    margin: auto;
    padding: 88px 0 0 165px;
    background-image: url(../img/главная\ картинка.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

.main-page-title {
    max-width: 456px;
}

.main-page-title-text {
    color: #000;
    font-family: "Abhaya Libre ExtraBold";
    line-height: normal;
    font-size: 64px;

}

.main-page-description {
    max-width: 415px;
    margin-top: 42px;
}

.main-page-description-text {
    color: #666769;
    font-family: "Abhaya Libre ExtraBold";
    line-height: normal;
    font-size: 20px;
    max-width: 555px;

}

.main-page-button {
    margin-top: 90px;
}

.main-button {
    background-color: #000;
    border: 0;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: "Abel";
    line-height: normal;
    font-size: 24px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    padding: 20px;
    margin: 0;
    cursor: pointer;
}

.main-button:hover {
    background-color: green;
    color: #000;
}

/*MAIN-FLOWERS*/
.flowers-container {
    display: flex;
    max-width: 1350px;
    margin: 66px auto auto auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flowers_title {
    margin-left: 85px;
}

.main-flowers-item {
    max-width: 45%;
}



.palm {
    margin-right: 0px;
}

.main-flowers-item-text {
    margin-top: 30px;
}

.main-flowers-item-img-title-link {
    text-decoration: none;
    color: #000;
}

.main-flowers-item-img-title-link:hover {
    color: green;
    text-decoration: underline;
}

.main-flowers-item-discription {
    color: #585858;
    font-family: "Abhaya Libre";
    line-height: normal;
    font-size: 16px;
    margin-top: 30px;
}

.main-flowers-item-title {
    color: #000;
    font-family: "Abhaya Libre ExtraBold";
    line-height: normal;
    font-size: 32px;
    text-transform: capitalize;
}

/*FLOWERS-CARDS*/
.flowers_title {
    max-width: 466px;
    margin-top: 75px;
}

.flowers-title {
    color: #000;
    font-family: "Inter";
    line-height: normal;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1px;
}

.flowers-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1350px;
    margin: 53px auto auto auto;
}

.flowers-cards-item-img {
    width: 313px;
}

.flowers-card-item-text {
    margin-top: 13px;
}

.flowers-card-item-img-title {
    color: #666769;
    font-family: "Inter";
    line-height: normal;
    font-size: 20px;
    font-weight: 400;
}

.flowers-card-item-img-title-link {
    text-decoration: none;
    color: #000;
}

.flowers-card-item-img-title:hover {
    text-decoration: underline;
    color: green;
}

.flowers-card-item-discription {
    color: #585858;
    font-family: "Inter";
    line-height: normal;
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
}

.flowers-cards-item-price {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 17px;
}

.flowers-cards-item_price {
    color: #000;
    font-family: "Inter";
    line-height: normal;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.44px;
    text-align: right;

}

.old-price {
    color: #666769;
    font-family: "Inter";
    line-height: normal;
    font-size: 24px;
    font-weight: 300;
    text-decoration-line: line-through;
    text-align: left;
}

.new-price {
    color: red;
}

.flowers-cards-item:nth-child(-n+4) {
    margin-bottom: 56px;
}

.flowers-cards_button {
    margin-top: 57px;
    text-align: center;
}

.flowers-cards-button {
    background-color: #000;
    color: #FFF;
    text-align: center;
    font-family: "Abel";
    line-height: normal;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    padding: 20px;
    border: 0;
}

.flowers-cards-button:hover {
    background-color: green;
    color: #000;
    cursor: pointer;
}

/*FOOTER*/
.footer {
    width: 100%;
    background: #333434;
    margin-top: 52px;
    min-height: 247px;
}

.footer-container {
    max-width: 1350px;
    margin: auto;

}

.footer-menu {
    display: flex;
    justify-content: space-between;
    max-width: 1350px;
    text-align: center;
    margin: auto;
    padding-top: 51px;
}

.footer-menu-list {
    display: flex;
    list-style: none;
    align-items: center;
}

.footer-menu-item {
    padding-right: 60px;
}

.footer-menu-link {
    color: #FFF;
    font-family: "Abel";
    line-height: normal;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.footer-menu-link:hover {
    text-decoration: underline;
    color: green;
}

.footer-logo-copyright-input-button {
    display: flex;
    justify-content: space-between;
    margin-top: 83px;
}

.footer-logo-copyright {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    width: 150px;
}

.footer-name {
    letter-spacing: 8px;
    overflow: hidden;
    color: #213924;
    text-overflow: ellipsis;
    font-family: "LimelightRegularr";
    line-height: normal;
    font-size: 36px;
    text-transform: uppercase;

}

.footer-name-link {
    text-decoration: none;
    color: white;
}

.footer-name-link:hover {
    color: green;
}

.copyright {
    font-family: "Actor";
    line-height: normal;
    font-size: 14px;
    text-transform: lowercase;
    color: white;
}

.plant {
    color: #D9D9D9;
    font-family: "Actor";
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.social-icon {
    display: flex;
    min-width: 265px;
    justify-content: space-between;
}

.social-icon-item {
    list-style: none;
    text-decoration: none;
}

.social-icon-item-link {
    display: block;
    background-repeat: no-repeat;
    background-size: 44px;
    background-position: center;
    width: 44px;
    height: 44px;
}

.icon-instagram {
    background-image: url(../svg/instagram.svg);
}

.icon-classmates {
    background-image: url(../svg/classmates.svg);
}

.icon-vk {
    background-image: url(../svg/vk.svg);
}

.footer-input-button {
    display: flex;
    justify-content: end;
}

.footer-input {
    color: #D9D9D9;
    font-family: "Abhaya Libre ExtraBold";
    line-height: normal;
    font-size: 16px;
    text-transform: lowercase;
    padding-left: 22px;
    width: 315px;
    height: 50px;
    flex-shrink: 0;
    border: 3px solid #FFFDFD;
    background: #333434;
}


.footer-button {
    margin-left: 30px;
    margin-bottom: 59px;
}

.footer-button-text {
    width: 201px;
    height: 50px;
    color: #333434;
    font-family: "Abhaya Libre";
    line-height: normal;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 14px 19px 13px 19px;
    border: 0;
}

.footer-button-text:hover {
    background-color: green;
    color: #000;
    cursor: pointer;
}

/*ADAPTIVE*/
.header_burger {
    display: none;
    position: relative;
    width: 30px;
    height: 35px;
    z-index: 10;
}

.straight {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
}

.straight:nth-child(1) {
    transform: translateY(5px);
}

.straight:nth-child(2) {
    transform: translateY(13px);
}

.straight:nth-child(3) {
    transform: translateY(21px);
}

/*MOBILE*/
@media (max-width: 768px) {

    /*HEADER*/
    .header-container {
        padding: 50px 5.555% 0px 5.555%;
    }


    .menu-list,
    .header-icon,
    .header-menu {
        display: none;
    }

    .header_burger {
        display: flex;
    }

    /*MAIN*/
    .main {
        width: 100%;
    }

    .main-container {
        margin-top: 43px;
    }

    .main-page {
        width: 88.9%;
        padding: 0;
        background-position: 82%;
        border-radius: 20px;
    }

    .main-page-title {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        padding-top: 54px;
    }

    .main-page-title-text {
        margin: auto;
        font-weight: 800;
        text-align: center;
        font-family: "Abhaya Libre ExtraBold";
        line-height: normal;
        font-size: 40px;
    }

    .main-page-description {
        margin: auto;
        margin-top: 0;
        padding-top: 35px;
        width: 100%;
    }

    .main-page-description-text {
        margin: auto;
        color: #666769;
        text-align: center;
        font-family: "Abhaya Libre ExtraBold";
        line-height: normal;
        font-size: 16px;
    }

    .main-page-description-text {
        color: #666769;
        text-align: center;
        font-family: "Abhaya Libre ExtraBold";
        line-height: normal;
        font-size: 16px;
    }

    .main-page-button {
        text-align: center;
        margin-top: 0px;
        padding-top: 331px;
    }

    .main-button {
        width: 232px;
        height: 41px;
        text-align: center;
        font-family: "Abel";
        line-height: normal;
        font-size: 16px;
        letter-spacing: 1.6px;
        padding: 10px 18px;
    }

    /*MAIN FLOWERS*/

    .flowers-container {
        width: 88.9%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main-flowers-item {
        max-width: 100%;
        width: 47%;
        margin-right: 0;
    }

    .main-flowers-item-text {
        margin-top: 7px;
    }

    .main-flowers-item-discription {
        margin-top: 7px;
    }

    .palm {
        width: 100%;
        margin-top: 20px;
    }

    .main-flowers-img {
        width: 100%;
    }

    .main-flowers-img-palm {
        width: 100%;
    }

    .main-flowers-item-img-title-link {
        font-size: 16px
    }

    /*FLOWERS CARDS*/

    .flowers-cards {
        width: 88.9%;
        margin: auto;
    }

    .flowers-cards-container {
        margin-top: 20px;
    }

    .flowers-title {
        font-size: 20px;
    }

    .flowers_title {
        letter-spacing: 0.5px;
        margin-top: 31px;
        margin-left: 0;
    }

    .flowers-cards-item:nth-child(n+5) {
        display: none;
    }

    .flowers-cards-item {
        width: 47%;
    }

    .flowers-cards-item-img {
        width: 100%;
    }

    .flowers-card-item-img-title {
        font-size: 12px;
    }

    .flowers-card-item-discription {
        font-size: 13px;
    }

    .flowers-cards-item_price,
    .new-price,
    .old-price {
        font-size: 18px;
    }

    .flowers-cards-item:nth-child(-n+4) {
        margin-bottom: 0;
    }

    .flowers-cards-item:nth-child(4n+2) {
        margin-bottom: 20px;
    }

    .flowers-cards_button {
        margin-top: 35px;
    }

    .right-align {
        flex-direction: row-reverse;
    }

    .flowers-cards-button {
        font-size: 18px;
        padding: 6px;
        width: 100%;
        letter-spacing: 1.8px;
    }

    /*FOOTER*/

    .footer {
        margin-top: 120px;
    }

    .footer-menu {
        flex-wrap: wrap;
        padding-top: 31px;
    }

    .footer-menu-item {
        padding-right: 0;
        padding-bottom: 30px;
    }

    .footer-menu-list {
        margin: auto;
        flex-direction: column;
        width: 100%;
    }

    .social-icon {
        min-width: 265px;
        margin: 57px auto auto auto;
    }

    .footer-logo-copyright-input-button {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .footer_input {
        width: 100%;
        text-align: center;
    }

    .footer-input-button {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-button {
        margin: 25px auto auto auto;
    }

    .footer-button-text {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .footer-logo {
        margin: auto;
    }

    .footer-logo-copyright {
        margin-top: 68px;
        margin-bottom: 18px;
        text-align: center;
    }
}

/*TABLET*/
@media (min-width: 768px) and (max-width: 1200px) {

    /*HEADER*/
    .header-container {
        padding: 50px 5.555% 0px 5.555%;
    }

    .header-icon {
        display: flex;
    }

    .menu-list,
    .header-menu {
        display: none;
    }

    .header_burger {
        display: flex;
        order: 3;
    }

    /*MAIN*/
    .main {
        width: 100%;
    }

    .main-container {
        margin-top: 43px;
    }

    .main-page {
        width: 88.9%;
        padding: 0;
        background-position: 82%;
        border-radius: 20px;
    }

    .main-page-title {
        max-width: 77%;
        max-height: 100%;
        margin: auto auto auto 78.675px;
        padding-top: 54px;
    }

    .main-page-title-text {
        color: #000;
        font-family: "Abhaya Libre ExtraBold";
        line-height: normal;
        font-size: 64px;
    }

    .main-page-description {
        margin: auto auto auto 78.675px;
        margin-top: 0;
        padding-top: 35px;
        width: 100%;
    }

    .main-page-description-text {
        color: #666769;
        text-align: left;
        font-family: "Abhaya Libre ExtraBold";
        line-height: normal;
        font-size: 20px;
        letter-spacing: 3px;
    }

    .main-page-button {
        margin-left: 78.675px;
        margin-top: 0px;
        padding-top: 70px;
    }

    .main-button {
        width: 320px;
        height: 70px;
        text-align: center;
        font-family: "Abel";
        line-height: normal;
        font-size: 24px;
        letter-spacing: 1.6px;
        padding: 10px 18px;
    }

    /*MAIN FLOWERS*/

    .flowers-container {
        width: 88.9%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main-flowers-item {
        max-width: 100%;
        width: 47%;
        margin-right: 0;
    }

    .main-flowers-item-text {
        margin-top: 7px;
    }

    .main-flowers-item-discription {
        margin-top: 7px;
    }

    .palm {
        width: 100%;
        margin-top: 20px;
    }

    .main-flowers-img {
        width: 100%;
    }

    .main-flowers-img-palm {
        width: 100%;
    }

    .main-flowers-item-img-title-link {
        font-size: 16px
    }

    /*FLOWERS CARDS*/

    .flowers-cards {
        width: 88.9%;
        margin: auto;
    }

    .flowers-cards-container {
        margin-top: 20px;
    }

    .flowers-title {
        font-size: 20px;
    }

    .flowers_title {
        letter-spacing: 0.5px;
        margin-top: 31px;
        margin-left: 0;
    }

    .flowers-cards-item:nth-child(n+5) {
        display: none;
    }

    .flowers-cards-item {
        width: 47%;
    }

    .flowers-cards-item-img {
        width: 100%;
    }

    .flowers-card-item-img-title {
        font-size: 12px;
    }

    .flowers-card-item-discription {
        font-size: 13px;
    }

    .flowers-cards-item_price,
    .new-price,
    .old-price {
        font-size: 18px;
    }

    .flowers-cards-item:nth-child(-n+4) {
        margin-bottom: 0;
    }

    .flowers-cards-item:nth-child(4n+2) {
        margin-bottom: 20px;
    }

    .flowers-cards_button {
        margin-top: 56px;
    }

    .right-align {
        flex-direction: row-reverse;
    }

    .flowers-cards-button {
        font-size: 24px;
        padding: 6px;
        width: 316px;
        height: 70px;
        letter-spacing: 1.8px;
    }

    /*FOOTER*/

    .footer {
        margin-top: 55px;
    }

    .footer-menu {
        flex-wrap: wrap;
        padding-top: 31px;
        flex-direction: column;
        width: 80%;
    }

    .footer-menu-item {
        padding-right: 0;
        padding-bottom: 30px;
    }

    .footer-menu-list {
        justify-content: space-between;
    }

    .social-icon {
        min-width: 265px;
        margin: 30px auto auto auto;
    }

    .footer-logo-copyright-input-button {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .footer-input-button {
        width: 70%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-button {
        margin: 0;
    }

    .footer-button-text {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .footer-logo {
        margin: auto;
    }

    .footer-logo-copyright {
        margin-top: 25px;
        margin-bottom: 18px;
        text-align: center;
    }
}